.box-headings {
	font-family: 'Courier New', Courier, monospace;
  margin-left: 8px;
}

:root {
    color: #565656;
    font-family: 'Courier New', Courier, monospace;;
    font-size: 14px;
    line-height: 1.7;
  }
  
  .wrapper {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 1.5rem 1rem -1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.3rem;
  }
  
  .input {
    width: 100%;
    height: 45px;
    padding: 0 1rem;
    margin-top: 1rem;
    box-sizing: border-box;
    font: inherit;
    border-radius: 0.2rem;
    border: 2px solid #d4d5d6;
    color: #565656;
    -webkit-appearance: none;
  }
  
  .input:focus {
    border-color: #ed009c;
    outline: none;
  }
  
  .input.has-error {
    border-color: tomato;
  }
  
  .error {
    margin: 0;
    font-size: 90%;
    color: tomato;
  }
  
  .tag-item {
    background-color: #d4d5d6;
    display: inline-block;
    font-size: 14px;
    border-radius: 30px;
    height: 30px;
    padding: 0 4px 0 1rem;
    display: inline-flex;
    align-items: center;
    margin: 0 0.3rem 0.3rem 0;
  }
  
  .tag-item > .button {
    background-color: white;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font: inherit;
    margin-left: 10px;
    font-weight: bold;
    padding: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.create-post-frame {
    position: relative;
    overflow: hidden;
    margin-top: 25px;
    margin-bottom: 25px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: none;
    min-width: 850px;
    width: 60%;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.caption-box {
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 750px;
    min-height: 150px;
    width: 60%;
    height: 20%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.caption-edit {
    padding: 4px 4px 4px 4px;
    min-width: 750px;
    min-height: 150px;
    width: 60%;
    height: 20%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 10px;
}

.sharing-box {
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 750px;
    min-height: 50px;
    width: 60%;
    height: 10%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.sharing-edit {
    padding: 4px 4px 4px 4px;
    min-width: 750px;
    min-height: 50px;
    width: 60%;
    height: 10%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 10px;
}

.iframe-box {
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 750px;
    min-height: 600px;
    width: 60%;
    height: 30%;
    padding: 2.5% 2.5% 2.5% 2.5%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 10px;
}

iframe {
    display:flex;
    position:relative;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 700px;
    border: none;
    
    overflow: hidden;
}

.button-box {
    /* put on right side of container */
    display: inline;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-button {
    font-family: 'Courier New', Courier, monospace;
    background-color: #121121;
    color: #ed009c;
    border:none;
    margin-left: 5px;
}